<!-- app/views/registrations/teams.html.erb -->
<h1>Generated Teams</h1>

<% @teams.each_with_index do |team, index| %>
  <h2>Team <%= index + 1 %></h2>
  <ul>
    <% team.each do |player| %>
      <li><%= player.full_name %> - Technique: <%= player.technique %>, Vista: <%= player.vista_collectif %>, Physique: <%= player.physique %></li>
    <% end %>
  </ul>
  <h3>Team Averages</h3>
  <ul>
    <li>Technique: <%= @team_averages[index][:technique] %></li>
    <li>Vista/Collectif: <%= @team_averages[index][:vista_collectif] %></li>
    <li>Physique: <%= @team_averages[index][:physique] %></li>
  </ul>
<% end %>

<%= link_to 'Back', registrations_path, class: 'btn btn-secondary' %>
