
<h1>Listing Players</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Prenom</th>
      <th>Avatar</th>
      <th>Technique</th>
      <th>Vista/Collectif</th>
      <th>Physique</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.first_name %></td>
        <td><%= player.last_name %></td>
        <!--<td><#%= image_tag(player.avatar) if player.avatar.present? %></td>-->
        <td><%= player.technique %></td>
        <td><%= player.vista_collectif %></td>
        <td><%= player.physique %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>

  <!-- <#%= form_with url: create_teams_players_path, method: :get, local: true, class: 'form-inline' do |form| %>
    <div class="form-group">
      <#%= form.label :team_size, "Team size" %>
      <#%= form.number_field :team_size, class: 'form-control' %>
    </div>
    <div class="actions">
      <#%= form.submit "Create Teams", class: 'btn btn-success' %>
    </div>
  <#% end %> -->

  <hr>

  <h2>Import Players</h2>
  <%= form_with url: import_players_path, method: :post, local: true, html: { multipart: true } do |form| %>
    <div class="form-group">
      <%= form.label :file, "CSV file" %>
      <%= form.file_field :file, class: 'form-control' %>
    </div>
    <div class="actions">
      <%= form.submit "Import Players", class: 'btn btn-success' %>
    </div>
  <% end %>
</div>
